.todo-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.todo-input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.todo-button {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  background-color: cadetblue;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.todo-text {
  flex-grow: 1;
  text-align: left;
  cursor: pointer;
}

.todo-text.completed {
  text-decoration: line-through;
  color: grey;
}

.todo-delete-button {
  background-color: none;
  font-size: 14px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.todo-add-note-button {
  background-color: none;
  font-size: 14px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}